body {
  background-color: #bdcebe;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fff;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #eca1a6;
  border-radius: 10px;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Center landing page buttons and logo */
.land {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.logo {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 15px;
}

#login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#signup_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* .land {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
} */

/* #login_btn {
  grid-column: 2/3;
  grid-row: 2/3;
}

#signup_btn {
  grid-column: 2/3;
  grid-row: 4/5;
} */

/* Landing page button transitions */
.land button {
  width: 150px;
  height: 50px;
  border: 1px solid #333;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.land button::before, .land button::after {
  position: absolute;
  background: #eca1a6;
  z-index: -1;
  transition: 1s;
  content: '';
}

.land button::before {
  height: 50px;
  width: 130px;
}

.land button::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.land button:hover::before {
  width: 0px;
  background: #d6cbd3;
}

.land button:hover::after {
  height: 0px;
  background: #d6cbd3;
}

.land button:hover {
  background: #d6cbd3;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #eca1a6;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 15%;
  border-radius: 20%;
}

/* Add padding and BG color to containers */
.container {
  padding: 16px;
  background-color: #d6cbd3;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #d6cbd3;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
