<div class="container">
    <h1 class="page-header">Expense</h1>

    <ul class="list-group">
        <li class="list-group-item">
            <h3><strong><%= expenseItem.title %>: </strong></h3>
            <h4>
                <%= expenseItem.description %>
            </h4>
            <h4>Completed:
                <% if (expenseItem.completed == true) { %>
                    <span class="label label-success">True</span>
                    <% } else if (expenseItem.completed == false) { %>
                        <span class="label label-danger">False</span>
                        <% } %>
            </h4>

        </li>
    </ul>

</div>